html {
    width: 100%;
}

.dropdown-li {
    font-size: 1rem;
}

.accommodation-page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.accommodation-header h2 {
    color: #ff6060;
    font-weight: 500;
    font-size: 2rem;
}

.accommodation-header p {
    color: #ff6060;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 5px;
}

.accommodation-header .tag {
    margin: 10px 10px 10px 0;
}

.accommodation-header-host {
    margin: 20px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}


@media screen and (min-width: 768px) {
    .accommodation-header {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-bottom: 25px;
    }

    .accommodation-header-host {
        flex-direction: column;
        margin: 0;
    }

    .accommodation-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .dropdown-li {
        font-size: 1.2rem;
    }

}