.banner-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}

.banner,
.banner img {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 111px;
    border-radius: 25px;
}

.banner {
    position: relative;
    margin-bottom: 20px;
}

.banner img {
    object-fit: cover;
}

.banner h2 {
    min-width: 200px;
    margin-top: -10px ;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
    .banner,
    .banner img {
        height: 223px;
    }

    .banner {
        margin-bottom: 40px;
    }

    .banner h2 {
        font-size: 2.2rem;
        margin-top: 0;
    }
}